
          body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        nav {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        nav img {
            vertical-align: middle;
            margin-right: 10px;
        }

        nav h1 {
            display: inline;
            margin: 0;
        }

        nav a {
            color: #f0e9e9;
            text-decoration: none;
            margin: 0 5px;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }

        nav button {
            color: #000000;
            text-decoration: none;
            margin: 0 5px;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }

        nav a:hover,
        nav button:hover {
            background-color: #555;
            color: #f2f2f2;
        }
 
        h2 {
            text-align: center;
        }

        .filter-container {
            text-align: center;
            margin: 20px auto;
        }

        .filter-container form {
            margin-bottom: 20px;
        }

        table {
            width: 90%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #fff;
        }

        th,
        td {
            padding: 8px;
            border: 1px solid #ccc;
        }

        th {
            background-color: #333;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        a {
            display: block;
            width: fit-content;
            margin: 20px auto;
            text-align: center;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

        a:hover {
            background-color: #555;
        }
        .filter{
            color: #fdfafa;
            background-color: #333;
            text-decoration: none;
            margin: 0 5px;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }
        .filter:hover{
            background-color: #fffdfd;
            color: #5a5a5a; 
        }
        input ,select{
            width: 16%;
            padding: 8px;
            margin-bottom: 10px;
        }
